.DS_Store
.deb
.ipa
*.ipa
*.zip
.theos
.bak
*.bak*
.cache
.git
/packages/
/junkcopies/
*[0-9].*
[0-9]*.*
* copy*
*previous*
*Previous*
/ViewControllerprev.m
/ViewControllerWithBrainRot.m
/EZCoinPotView.h alias
/files/
/files 2/
/patch.py

node_modules/
__pycache__/
.env
.env.*
!*.example
EZBackend.local.h
