.DS_Store
.deb
.ipa
*.ipa
*.zip
.theos
.bak
*.bak*
*.ts
.cache
.git
/packages/
EZKeyVault.m
/junkcopies/
*[0-9].*
[0-9]*.*
* copy*
*previous*
*Previous*
/ViewControllerprev.m
/ViewControllerWithBrainRot.m
/EZCoinPotView.h alias
/files/
/files 2/
/patch.py
EZAuthManager.m
EZEntitlementManager.m
/supabase/
